
/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Lato:ital,wght@0,400;0,700;1,300&family=Shrikhand&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Lato", sans-serif;
}


/* VARIABLES */

:root {

    /* COLORS */

    --bg-color-dark: #72310b;
    --bg-color-dark-hover: #ad5e2f;
    --bg-color-tan: #ce7f50;
    --bg-color-light: #d9d2b1;
    --bg-color-yellow: #c9d874;
    --bg-color-orange: #68a500;
}

/* NAVIGATION */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-color-dark);
    color: white;
    padding: 0;
}

.nav-brand {
    font-size: 2rem;
    margin: 0.5rem;
    font-family: "DM Serif Text", sans-serif;
}

.navbar-links ul {
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: var(--bg-color-light);
    padding: 1rem;
    display: block;
}

.navbar-links li:hover {
    background-color: var(--bg-color-tan);
}

.toggle-btn {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.toggle-btn .bar {
    height: 3px;
    width: 100%;
    background-color: var(--bg-color-light);
    border-radius: 10px;
}

@media (max-width: 600px) {
    .toggle-btn {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: .5rem 1rem;
    }

    .navbar-links.active {
        display: flex;
    }
}

/* HERO IMAGE AND JUMBOTRON */

.jumbotron {
    background-color:#d9d2b1;
    padding-bottom: 20px;
    padding-top: 20px;
    width: 100%;
}

/* PRODUCT CARDS */

.low-price {
    background-color: greenyellow;
}

/* FOOTER */

footer {
    background-color: #72310b;
}