{% extends "base.html" %}
{% block content %}

<section class="container-fluid hero-section">
<div class="text-center jumbotron-fluid">
    <div class="row">
        <div class="container">
            <h1 class="display-4">Hyr ett förråd idag!</h1>
            <p class="lead">Få den första månaden gratis! Pris från <span class="bg-warning">599</span> kr/månad.
            </p>
            <p>Bindningstid 3 månader, flytta ut när du vill!</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg btn-warning" href="#" role="button">Hyr idag!</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-md-6 hero-info-text"><h5>Bara 10 minuter från Uppsala finns nya och fräscha förråd som har rejält med plats för möbler, cyklar, kartonger m.m.</h5></div>
        <div class="col-xs-12 col-md-6 hero-info-text"><h5>Alla förråd är varma och torra. För bästa pris, välj ett förråd på vårt nyöppnade plan 2.</h5></div>
    </div>
</div>
</section>
<section class="product-cards-section container-fluid mt-5">
    <h2 class="text-center">Välj ett förråd</h2>
    <div class="row">
        <div class="col-md-3 product-card-container">
            <div class="card">
                <div class="image-container">
                    <div class="first">
                        <div class="d-flex justify-content-between align-items-center">
                            <span>SMALL</span>
                        </div>
                    </div>
                    <img src="https://www.securcareselfstorage.com/images/site/size-guide/10x10%20Storage%20Unit@small.png"
                        class="img-fluid rounded thumbnail-image">
                </div>
                <div class="product-detail-container p-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="dress-name">5 m&#178;</h5>
                        <div class="d-flex flex-column mb-2">
                            <span>Plan 1: 749 kr/mån</span>
                            <span class="text-right">Plan 2: <span class="low-price">699 kr/mån</span></span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center pt-1">
                        <div>
                            <i class="fa fa-star-o rating-star"></i>
                            <p>190 flyttkartonger</p>
                        </div>
                        <span class="buy">12.5 m&#179;</span>
                    </div>
                </div>
                <button type="button" class="btn btn-warning card-btn">HYR!</button>
            </div>
        </div>
        <div class="col-md-3 product-card-container">
            <div class="card">
                <div class="image-container">
                    <div class="first">
                        <div class="d-flex justify-content-between align-items-center">
                            <span>MEDIUM</span>
                        </div>
                    </div>
                    <img src="https://www.securcareselfstorage.com/images/site/size-guide/10x10%20Storage%20Unit@small.png"
                        class="img-fluid rounded thumbnail-image">
                </div>
                <div class="product-detail-container p-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="dress-name">6 m&#178;</h5>
                        <div class="d-flex flex-column mb-2">
                            <span>Plan 1: 899 kr/mån</span>
                            <span class="text-right">Plan 2: <span class="low-price">749 kr/mån</span></span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center pt-1">
                        <div>
                            <i class="fa fa-star-o rating-star"></i>
                            <p>240 flyttkartonger</p>
                        </div>
                        <span class="buy">15 m&#179;</span>
                    </div>
                </div>
                <button type="button" class="btn btn-warning card-btn">HYR!</button>
            </div>
        </div>
        <div class="col-md-3 product-card-container">
            <div class="card">
                <div class="image-container">
                    <div class="first">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="discount">LARGE</span>
                        </div>
                    </div>
                    <img src="https://www.securcareselfstorage.com/images/site/size-guide/10x10%20Storage%20Unit@small.png"
                        class="img-fluid rounded thumbnail-image">
                </div>
                <div class="product-detail-container p-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="dress-name">5 m&#178;</h5>
                        <div class="d-flex flex-column mb-2">
                            <span>Plan 1: 1 498 kr/mån</span>
                            <span class="text-right">Plan 2: <span class="low-price">1 398 kr/mån</span></span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center pt-1">
                        <div>
                            <i class="fa fa-star-o rating-star"></i>
                            <p>380 flyttkartonger</p>
                        </div>
                        <span class="buy">25 m&#179;</span>
                    </div>
                </div>
                <button type="button" class="btn btn-warning card-btn">HYR!</button>
            </div>
        </div>
        <div class="col-md-3 product-card-container">
            <div class="card">
                <div class="image-container">
                    <div class="first">
                        <div class="d-flex justify-content-between align-items-center">
                            <span class="discount">X-LARGE</span>
                        </div>
                    </div>
                    <img src="https://www.securcareselfstorage.com/images/site/size-guide/10x10%20Storage%20Unit@small.png"
                        class="img-fluid rounded thumbnail-image">
                </div>
                <div class="product-detail-container p-2">
                    <div class="d-flex justify-content-between align-items-center">
                        <h5 class="dress-name">12 m&#178;</h5>
                        <div class="d-flex flex-column mb-2">
                            <span>Plan 1: <span class="text-danger">ej tillgängligt</span></span>
                            <span class="text-right">Plan 2: <span class="low-price">1 498 kr/mån</span></span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between align-items-center pt-1">
                        <div>
                            <i class="fa fa-star-o rating-star"></i>
                            <p>480 flyttkartonger</i></p>
                        </div>
                        <span class="buy">12.5 m&#179;</span>
                    </div>
                </div>
                <button type="button" class="btn btn-warning card-btn">HYR!</button>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid no-gutter why-us-container bg-grey">
    <h2 class="text-center">Varför hyra förråd hos oss?</h2>
    <div class="row">

        <div class="col">
            <div class="circle-container text-center">
                <div class="circle-image">
                    <img src="/static/images/icons/security-camera.png">
                </div>
            </div>
            <div class="circle-text">
                <h3 class="text-center"><strong>Säkert</strong></h3>
                <p class="text-center">Kameraövervakning och personlig kod.</p>
            </div>
        </div>
        <div class="col">
            <div class="circle-container text-center">
                <div class="circle-image">
                    <img src="/static/images/icons/calendar.png">
                </div>
            </div>
            <div class="circle-text">
                <h3 class="text-center"><strong>Tillgängligt</strong></h3>
                <p class="text-center">Öppet 06 - 24 alla dagar i veckan.</p>
            </div>
        </div>
        <div class="col">
            <div class="circle-container text-center">
                <div class="circle-image">
                    <img src="/static/images/icons/unlock.png">
                </div>
            </div>
            <div class="circle-text">
                <h3 class="text-center"><strong>Ingen uppsägningstid</strong></h3>
                <p class="text-center">Efter 3 månader flyttar du ut när du vill.</p>
            </div>
        </div>
        <div class="col">
            <div class="circle-container text-center">
                <div class="circle-image">
                    <img src="/static/images/icons/container.png">
                </div>
            </div>
            <div class="circle-text">
                <h3 class="text-center"><strong>Enkel lastning</strong></h3>
                <p class="text-center">Backa med släp? Glöm det! Pirror och vagnar finns.</p>
            </div>
        </div>
    </div>

</section>

<section class="container-fluid form-section">
    
</section>

{% endblock %}