{% extends "base.html" %}
{% block content %}
{% load bootstrap %}


<div class="row">
    <div class="col-md-4 mx-auto mt-2 pt-2 bg-grey border form-card">
        
        <div class="form-container">
            <form method="POST" action="#">
                {% csrf_token %}
                <div class="md-col-4 mb-3 text-center>
                    <p><i class=" fa-solid fa-circle-info"></i><b>Step 1: </b>Personal information</p>
                    <hr>
                    {{ customer_form | bootstrap }}
                </div>
                <div class="md-col-4 mb-3 text-center>
                    <p><i class=" fa-solid fa-circle-info"></i><b>Step 2: </b>Select a storage unit</p>
                    <hr>
                    {{ order_form | bootstrap }}
                    <p>Price/month: <span id="price">{{ storage_unit.price }}</span></p>
                </div>
                <div class="md-col-4 text-center>
                    <p><i class=" fa-solid fa-circle-info"></i><b>Step 3: </b>Create an account</p>
                    <hr>
                    {{ register_form | bootstrap }}
                </div>
                
                
                
                <input type="submit" class="btn btn-success" value="Submit">
            </form>
        </div>

    </div>
</div>
<div class="row">
    <div class="col-md-4 mx-auto mt-2 pt-2 bg-grey border form-card">
        
        <div class="form-container">
            <form method="POST" action="#">
                {% csrf_token %}
                <div class="md-col-4 mb-3 text-center>
                    <p><i class=" fa-solid fa-circle-info"></i><b>Step 1: </b>Personal information</p>
                    <hr>
                    {{ customer_form.fullname | bootstrap }}
                </div>
                <div class="md-col-4 mb-3 text-center>
                    <p><i class=" fa-solid fa-circle-info"></i><b>Step 2: </b>Select a storage unit</p>
                    <hr>
                    {{ order_form | bootstrap }}
                    <p>Price/month: <span id="price">{{ storage_unit.price }}</span></p>
                </div>
                <div class="md-col-4 text-center>
                    <p><i class=" fa-solid fa-circle-info"></i><b>Step 3: </b>Create an account</p>
                    <hr>
                    {{ register_form | bootstrap }}
                </div>
                
                
                
                <input type="submit" class="btn btn-success" value="Submit">
            </form>
        </div>

    </div>
</div>


{% endblock %}